<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <form action="{% url 'editar' dado.id %}" method="post">
        {% csrf_token %}
        <h1>Editar Gênero Musical</h1>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ dado.nome }}">
        <button type="submit">Salvar</button>
    </form>
    <hr>
    <a href="{% url 'index' %}">Voltar</a>
    
</body>
</html>