<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
</head>
<body>
    <h1>Seus Gêneros Musicais</h1>
    {% for dado in dado %}
    <h3>Nome: {{ dado.nome }}</h3> <a href="{% url 'musicas' dado.id %}">Músicas</a> <a href="{% url 'editar' dado.id %}">Editar</a> <a href="{% url 'deletar' dado.id %}">Deletar</a>
    {% endfor %}
    <hr>
    <a href="{% url 'inserir' %}">Adicionar</a> <a href="{% url 'sair' %}">Logout</a>
</body>
</html>